@model  Razor.Models.HomeViewModel

@{
    ViewBag.Title = "Index";
    var diaDaSemana = DateTime.Now.DayOfWeek;
}

<h2>Data: @ViewBag.Data</h2> 

<h2>@Model.Mensagem</h2>

@if (diaDaSemana == DayOfWeek.Sunday || diaDaSemana == DayOfWeek.Saturday)
{
    <div>Desculpe, estamos em manutenção.</div>
}
else
{
    <div>Seja bem vindo</div>
}